<div class="bg-Page">

<div class="container">

  <div class="text-after">
    <h1>ABOUT COMPONENT</h1>
    <div class="star-port">
      <div class="line-port"></div>
      <i class="fa-solid fa-star px-2"></i>
      <div class="line-port"></div>
    </div>
  </div>
  <div class="form w-50  float-start w-10">
  <div class="row">


<input class="userName" type="text" placeholder="userName">


<input class="userAge" type="text" placeholder="userAge">


<input class="userEmail" type="text" placeholder="userEmail">


<input class="userPassword" type="password" placeholder="userPassword">

<button class="btn text-btn">sendMessage</button>

  </div>
</div>
</div>
</div>
