
<div class="bg-Page">
<div class="text-after">
  <h1>PORTFOLIO COMPONENT</h1>
  <div class="star-port">
    <div class="line-port"></div>
    <i class="fa-solid fa-star px-2"></i>
    <div class="line-port"></div>

    </div>
  </div>
  </div>
<section class="text-imgs min-vh-100">
    <div class="container   ">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
<div class="col">
  <img src="assets/poert1.png " >
</div>
<div class="col">
  <img src="assets/port2.png" >
</div>
<div class="col">
  <img src="assets/port3.png" >
</div>
<div class="col">
  <img src="assets/poert1.png ">
</div>
<div class="col">
  <img src="assets/port2.png">
</div>

<div class="col">
  <img src="assets/port3.png" >
</div>
    </div>
  </div>

</section>


