<nav class=" navbar-expand-lg navbar  ">
  <div class="container  ">

    <a class="navbar-brand font-style" href="home">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">

        <a class="nav-link active font-style " aria-current="page" routerLink="about" routerLinkActive="bg-info">ABOUT</a>
        <a class="nav-link active font-style" aria-current="page" routerLink="portfolio" routerLinkActive="bg-info">PORTFOLIO
        </a>
        <a class="nav-link active font-style" aria-current="page" routerLink="contact" routerLinkActive="bg-info">CONTACT</a>




      </ul>

    </div>
  </div>
</nav>
